@font-face { font-family: DIN; src: url('/beta/fonts/DIN Bold.ttf'); } 

body {
    background-color: #2e3036;
}

/* -------------------------------------------------- BAR --------------------------------------------------*/
#bar {
    width: 350px;
    height: 100%;
    position: fixed;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#bar-main {
    width: 300px;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #fef6ed;
}
    #bar-main-left {
        width: 120px;
        height: 120px;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }
    #bar-main-left-text {
        font-family: DIN;
        font-size: 30px;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
        color: #2e3036;
        width: 130px;
        height: 110px;
        position: absolute;
        margin: 0;
        padding: 0;
        top: 5px;
        left: 115px;
        bottom: 0;
        overflow: hidden;
    }
#bar-decor1 {
    width: 50px;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 250px;
    bottom: 0;
    overflow: hidden;
    background-color: #b9141c;
}
#bar-decor2 {
    width: 20px;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 300px;
    bottom: 0;
    overflow: hidden;
    background-color: #efd1a1;
}

#list {
    list-style-type: none;
    overflow: hidden;
    left: 15px;
    top: 125px;
    width: 220px;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#list-li {
    overflow: hidden;
}
#list-li a {
    display: block;
    color: #fef6ed;
    text-align: center;
    margin: 10px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: DIN;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: #efd1a1;
}
#list-li a:not(.active) {
    background-color: #2e3036;
    overflow: hidden;
}
#list-li a:hover:not(.active) {
    background-color: #d1253b;
    overflow: hidden;
}
.active {
    background-color: #b9141c;
    overflow: hidden;
}
#list2 {
    list-style-type: none;
    overflow: hidden;
    left: 15px;
    top: 90%;
    width: 220px;
    height: 100%;
    position: absolute;
    z-index: 1;
}
#list-li2 {
    overflow: hidden;
}
#list-li2 a {
    display: block;
    color: #fef6ed;
    text-align: center;
    margin: 10px;
    padding: 20px 30px;
    text-decoration: none;
    font-family: DIN;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    background-color: #2e3036;
    border-color: #efd1a1;
}
#list-li2 a:not(.active) {
    background-color: #2e3036;
    overflow: hidden;
}
#list-li2 a:hover:not(.active) {
    background-color: #d1253b;
    overflow: hidden;
}
/* -------------------------------------------------- BAR --------------------------------------------------*/

/* -------------------------------------------------- FOOTER --------------------------------------------------*/
#footer {
    top: calc(100% + 10px);
    height: 150px;
    width: calc(100% + 20px);
    background-color: antiquewhite;
    position: absolute;
    overflow: hidden;
}
#footer-decor1 {
    height: 20px;
    width: 100%;
    background-color: #efd1a1;
    position: absolute;
    overflow: hidden;
}
#footer-decor2 {
    top: 20px;
    height: 50px;
    width: 100%;
    background-color: #b9141c;
    position: absolute;
    overflow: hidden;
}
#footer-main {
    top: 70px;
    height: 100px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #fef6ed;
    
}
#footer-split-left {
    align-items: center;
}
#footer-split-left {
    height: 100%;
    width: 15%;
    margin-top: 20px;
    margin-left: 10px;
    font-family: DIN;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    overflow: hidden;
    border-width: 3px;
    border-style: solid;
    border-color: #efd1a1;
    background-color: #b9141c;
}
#footer-split-center {
    height: 100%;
    width: 15.5%;
    margin-left: calc(20% + 20px);
    margin-top: -36px;
    font-family: DIN;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    overflow: hidden;
    border-width: 3px;
    border-style: solid;
    border-color: #efd1a1;
    background-color: #b9141c;
}
#footer-split-right {
    height: 100%;
    width: 12%;
    margin-left: calc(40% + 30px);
    margin-top: -37px;
    font-family: DIN;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    overflow: hidden;
    border-width: 3px;
    border-style: solid;
    border-color: #efd1a1;
    background-color: #b9141c;
}
#footer-a {
    text-decoration: none;
    color: #fef6ed;
}
/* -------------------------------------------------- FOOTER --------------------------------------------------*/

/* -------------------------------------------------- CONTENT --------------------------------------------------*/
#content {
    width: calc(100% - 340px);
    margin-left: 330px;
    padding: 0;
    top: 10px;
    left: -10px;
    bottom: 10px;
    position: absolute;
}
#content-topbar {
    width: 100%;
    height: 150px;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    align-items: center;
}
#content-topbar-title {
    width: 100%;
    height: 80px;
    padding: 0;
    top: 0;
    left: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    font-family: DIN;
    font-size: 75px;
    font-weight: bold;
    color: #b9141c;
}
#content-topbar-info {
    width: 100%;
    height: 80px;
    padding: 0;
    top: 80px;
    left: 15px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    font-family: DIN;
    font-size: 35px;
    font-weight: bold;
    color: #efd1a1;
}

#content-grid-container{
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px 150px;
  height: auto;
  margin-top: 150px;
  padding: 10px;
}
#content-grid-item {
  background-color: #43454e;
  padding: 0px;
  height: 200px;
  border-top-right-radius: 20px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}
#content-grid-item-star-decor {
    position: absolute;
    width: 130px;
    height: 25px;
    margin-top: 175px;
    font-family: DIN;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}
.fivestar {
    background-color: #ffd070;
    overflow: hidden;
}
.fourstar {
    background-color: #af86ff;
    overflow: hidden;
}
#content-grid-item-character {
    overflow: hidden;
}
#content-image-wrap {
    width: 490px;
    height: 750px;
    margin-top: 135px;
    overflow: hidden;
}

#content-box-main1 {
    width: 65%;
    height: 80%;
    margin-left: 500px;
    margin-top: 125px;
    padding: 0;
    top: 10px;
    left: -10px;
    bottom: 10px;
    position: absolute;
    overflow: hidden;
    background-color: #43454e;
    border-width: 5px;
    border-style: solid;
    border-color: #efd1a1;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
/* -------------------------------------------------- CONTENT --------------------------------------------------*/